name: Update RTMA Data

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Mamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: geo-env
          create-args: python=3.9 xarray cfgrib matplotlib boto3 eccodes numpy
          
      - name: Run Script
        shell: bash -l {0}
        run: python process_rtma.py

      - name: Debug - List Files
        run: ls -R site/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          # This ensures the files are pushed to the 'gh-pages' branch
          publish_branch: gh-pages
